{{!< default}}
<div class="container">
	<div class="jumbotron">
		<h1>Mighty Human Man</h1>
		<p>Hi. My name is Elliot. I am keeping this journal in an effort to be present in my own life.</p>
		<p>I hope that these writings will appeal to others with a similar outlook and mindset.</p>
		<p>Head to <a href="/blog">this</a> page to begin reading.</p>
	</div>
</div>
